In [586]:
# Importing Libraries
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [587]:
# Loading thr Dataset
df = pd.read_csv("C:/Users/aksha/OneDrive/Documents/Netflix_movies_and_tv_shows.csv")
print(df)

     show_id     type                                    title  \
0         s1  TV Show                                       3%
1         s2    Movie                                     7:19
2         s3    Movie                                    23:59
3         s4    Movie                                        9
4         s5    Movie                                       21
...      ...      ...                                      ...
7782   s7783    Movie                                     Zozo
7783   s7784    Movie                                   Zubaan
7784   s7785    Movie                        Zulu Man in Japan
7785   s7786  TV Show                    Zumbo's Just Desserts
7786   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

               director                                               cast  \
0                   NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7782        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784                NaN                                            Nasty C
7785                NaN                         Adriano Zumbo, Rachel Khoo
7786           Sam Dunn                                                NaN

                                                country          date_added  \
0                                                Brazil     August 14, 2020
1                                                Mexico   December 23, 2016
2                                             Singapore   December 20, 2018
3                                         United States   November 16, 2017
4                                         United States     January 1, 2020
...                                                 ...                 ...
7782  Sweden, Czech Republic, United Kingdom, Denmar...    October 19, 2020
7783                                              India       March 2, 2019
7784                                                NaN  September 25, 2020
7785                                          Australia    October 31, 2020
7786              United Kingdom, Canada, United States       March 1, 2020

      release_year rating   duration  \
0             2020  TV-MA  4 Seasons
1             2016  TV-MA     93 min
2             2011      R     78 min
3             2009  PG-13     80 min
4             2008  PG-13    123 min
...            ...    ...        ...
7782          2005  TV-MA     99 min
7783          2015  TV-14    111 min
7784          2019  TV-MA     44 min
7785          2019  TV-PG   1 Season
7786          2019  TV-MA     90 min

                                              listed_in  \
0     International TV Shows, TV Dramas, TV Sci-Fi &...
1                          Dramas, International Movies
2                   Horror Movies, International Movies
3     Action & Adventure, Independent Movies, Sci-Fi...
4                                                Dramas
...                                                 ...
7782                       Dramas, International Movies
7783     Dramas, International Movies, Music & Musicals
7784  Documentaries, International Movies, Music & M...
7785                 International TV Shows, Reality TV
7786                    Documentaries, Music & Musicals

                                            description
0     In a future where the elite inhabit an island ...
1     After a devastating earthquake hits Mexico Cit...
2     When an army recruit is found dead, his fellow...
3     In a postapocalyptic world, rag-doll robots hi...
4     A brilliant group of students become card-coun...
...                                                 ...
7782  When Lebanon's Civil War deprives Zozo of his ...
7783  A scrappy but poor boy worms his way into a ty...
7784  In this documentary, South African rapper Nast...
7785  Dessert wizard Adriano Zumbo looks for the nex...
7786  This documentary delves into the mystique behi...

[7787 rows x 12 columns]

In [588]:
df.shape

(7787, 12)

In [589]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [590]:
# Getting summary statistics
print(df.describe())

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [591]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [592]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [593]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [594]:
#Identifying and handling missing values
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,False,False,False,False,False,False,False,False,False,False,False,False
7783,False,False,False,False,False,False,False,False,False,False,False,False
7784,False,False,False,True,False,True,False,False,False,False,False,False
7785,False,False,False,True,False,False,False,False,False,False,False,False
7786,False,False,False,False,True,False,False,False,False,False,False,False

In [595]:
# Missing values in the dataset
df.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [596]:
# Checking for duplicate values
df.duplicated().value_counts()

False    7787
Name: count, dtype: int64

In [597]:
# Checking the unique values in each attribute of the dataset
df.nunique()

show_id         7787
type               2
title           7787
director        4049
cast            6831
country          681
date_added      1565
release_year      73
rating            14
duration         216
listed_in        492
description     7769
dtype: int64

In [598]:
# Handling the missing values
df[['director','cast','country']] = df[['director','cast','country']].fillna('Unknown')
df['rating'] = df['rating'].fillna(df['rating'].mode()[0])
df.dropna(axis=0, inplace = True)

In [599]:
df.shape

(7777, 12)

In [600]:
df.drop_duplicates(inplace=True)

In [601]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Unknown,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,Unknown,Nasty C,Unknown,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,Unknown,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,Unknown,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [602]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [603]:
# Convert all text columns to lowercase and strip whitespace
text_columns = df.select_dtypes(include='object').columns
df[text_columns] = df[text_columns].apply(lambda x: x.str.lower().str.strip())

In [604]:
#Standardize country names
country_replacements = {
    'united states': 'usa',
    'united kingdom': 'uk',
    'south korea': 'korea',
    'russia': 'russian federation',
    'u.s.': 'usa',
    'us': 'usa',
    'england': 'uk',
    'india': 'india',
    }
df['country'] = df['country'].replace(country_replacements)

In [611]:
#Standardize gender values
if 'gender' in df.columns:
    gender_replacements = {
        'male': 'male',
        'm': 'male',
        'female': 'female',
        'f': 'female',
        'non-binary': 'nonbinary',
        'nb': 'nonbinary',
    }  
    df['gender'] = df['gender'].replace(gender_replacements)

In [606]:
df = df.drop_duplicates()

In [607]:
print(df)

     show_id     type                                    title  \
0         s1  tv show                                       3%
1         s2    movie                                     7:19
2         s3    movie                                    23:59
3         s4    movie                                        9
4         s5    movie                                       21
...      ...      ...                                      ...
7782   s7783    movie                                     zozo
7783   s7784    movie                                   zubaan
7784   s7785    movie                        zulu man in japan
7785   s7786  tv show                    zumbo's just desserts
7786   s7787    movie  zz top: that little ol' band from texas

               director                                               cast  \
0               unknown  joão miguel, bianca comparato, michel gomes, r...
1     jorge michel grau  demián bichir, héctor bonilla, oscar serrano, ...
2          gilbert chan  tedd chan, stella chung, henley hii, lawrence ...
3           shane acker  elijah wood, john c. reilly, jennifer connelly...
4        robert luketic  jim sturgess, kevin spacey, kate bosworth, aar...
...                 ...                                                ...
7782        josef fares  imad creidi, antoinette turk, elias gergi, car...
7783        mozez singh  vicky kaushal, sarah-jane dias, raaghav chanan...
7784            unknown                                            nasty c
7785            unknown                         adriano zumbo, rachel khoo
7786           sam dunn                                            unknown

                                                country          date_added  \
0                                                brazil     august 14, 2020
1                                                mexico   december 23, 2016
2                                             singapore   december 20, 2018
3                                                   usa   november 16, 2017
4                                                   usa     january 1, 2020
...                                                 ...                 ...
7782  sweden, czech republic, united kingdom, denmar...    october 19, 2020
7783                                              india       march 2, 2019
7784                                            unknown  september 25, 2020
7785                                          australia    october 31, 2020
7786              united kingdom, canada, united states       march 1, 2020

      release_year rating   duration  \
0             2020  tv-ma  4 seasons
1             2016  tv-ma     93 min
2             2011      r     78 min
3             2009  pg-13     80 min
4             2008  pg-13    123 min
...            ...    ...        ...
7782          2005  tv-ma     99 min
7783          2015  tv-14    111 min
7784          2019  tv-ma     44 min
7785          2019  tv-pg   1 season
7786          2019  tv-ma     90 min

                                              listed_in  \
0     international tv shows, tv dramas, tv sci-fi &...
1                          dramas, international movies
2                   horror movies, international movies
3     action & adventure, independent movies, sci-fi...
4                                                dramas
...                                                 ...
7782                       dramas, international movies
7783     dramas, international movies, music & musicals
7784  documentaries, international movies, music & m...
7785                 international tv shows, reality tv
7786                    documentaries, music & musicals

                                            description
0     in a future where the elite inhabit an island ...
1     after a devastating earthquake hits mexico cit...
2     when an army recruit is found dead, his fellow...
3     in a postapocalyptic world, rag-doll robots hi...
4     a brilliant group of students become card-coun...
...                                                 ...
7782  when lebanon's civil war deprives zozo of his ...
7783  a scrappy but poor boy worms his way into a ty...
7784  in this documentary, south african rapper nast...
7785  dessert wizard adriano zumbo looks for the nex...
7786  this documentary delves into the mystique behi...

[7777 rows x 12 columns]

In [608]:
print(df.head())

  show_id     type  title           director  \
0      s1  tv show     3%            unknown
1      s2    movie   7:19  jorge michel grau
2      s3    movie  23:59       gilbert chan
3      s4    movie      9        shane acker
4      s5    movie     21     robert luketic

                                                cast    country  \
0  joão miguel, bianca comparato, michel gomes, r...     brazil
1  demián bichir, héctor bonilla, oscar serrano, ...     mexico
2  tedd chan, stella chung, henley hii, lawrence ...  singapore
3  elijah wood, john c. reilly, jennifer connelly...        usa
4  jim sturgess, kevin spacey, kate bosworth, aar...        usa

          date_added  release_year rating   duration  \
0    august 14, 2020          2020  tv-ma  4 seasons
1  december 23, 2016          2016  tv-ma     93 min
2  december 20, 2018          2011      r     78 min
3  november 16, 2017          2009  pg-13     80 min
4    january 1, 2020          2008  pg-13    123 min

                                           listed_in  \
0  international tv shows, tv dramas, tv sci-fi &...
1                       dramas, international movies
2                horror movies, international movies
3  action & adventure, independent movies, sci-fi...
4                                             dramas

                                         description
0  in a future where the elite inhabit an island ...
1  after a devastating earthquake hits mexico cit...
2  when an army recruit is found dead, his fellow...
3  in a postapocalyptic world, rag-doll robots hi...
4  a brilliant group of students become card-coun...

In [609]:
print(df['date_added'].head(10))

0      august 14, 2020
1    december 23, 2016
2    december 20, 2018
3    november 16, 2017
4      january 1, 2020
5         july 1, 2017
6         june 1, 2020
7     november 1, 2019
8        april 1, 2019
9    december 15, 2017
Name: date_added, dtype: object

In [610]:
df['date_added'] = df['date_added'].astype(str).str.strip().str.title()

# Convert to datetime64
df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y', errors='coerce')

print("Actual dtype:", df['date_added'].dtype)  # Should show datetime64[ns]

print("date added")
print(df['date_added'].dt.strftime('%d-%m-%Y').head())

Actual dtype: datetime64[ns]
date added
0    14-08-2020
1    23-12-2016
2    20-12-2018
3    16-11-2017
4    01-01-2020
Name: date_added, dtype: object

In [581]:
# Clean column headers: lowercase, replace spaces with underscores, remove special characters
df.columns = (
    df.columns
    .str.lower()                      # Convert to lowercase
    .str.strip()                      # Remove leading/trailing spaces
    .str.replace(' ', '_')            # Replace spaces with underscores
    .str.replace(r'[^\w\s]', '', regex=True)  # Remove special characters
)

print(df.columns.tolist())

['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [582]:
print(df.dtypes)

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [583]:
print(df.dtypes)

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [584]:
print(df['rating'].value_counts())

rating
tv-ma       2868
tv-14       1928
tv-pg        804
r            665
pg-13        386
tv-y         279
tv-y7        270
pg           247
tv-g         194
nr            83
g             39
tv-y7-fv       6
ur             5
nc-17          3
Name: count, dtype: int64